:root{
    /* cards */
    --cardWidth: 90px;
    --cardHeight: 126px;
    --activeCardWidth: 150px;
    --activeCardHeight: 210px;
    
    --cardSelectionTopMargin: 140px;
    --cardSpacing: 20px;
    --activeCardSpacing: 60px;
    
    --cardShadowOpacity: .6;
    --cardTrackHeightAddition: 40px;

    --buttonMargin: 20px;
    --cardIndex: 0;

    --cardOffset: 0px;

    /* background */
    --bgColorTop:#4B565E;
    --bgColorBottom: #282930;
    --cardSelectionHeight:0;
    --arrowTranslate: 0;
    --bgGradientHeight: 180px;
    --bgGradientOffset: 400px;
}

/* #region fonts */

.darumadrop-one-regular {
  font-family: "Darumadrop One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

@font-face{
    font-family: "BigBoy";
    src: url("ref/Bigboy.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* #endregion */

*{
    padding: 0;
    margin: 0;
    font-family: "Ubuntu", Helvetica, sans-serif;
}

/* #region background */

body{
    background-color: var(--bgColorBottom);
}

.background-gradient{
    background-color: var(--bgColorBottom);
    position: absolute;
    height: var(--bgGradientHeight);
    width: 100%;
    z-index: -9;
    top: calc(var(--bgGradientOffset) - var(--bgGradientHeight));

    -webkit-mask-image: url("ref/Gradients/Dotted_TileableMask.png");
    mask-image: url(ref/Gradients/Dotted_TileableMask.png);
    
    -webkit-mask-mode: alpha;
    mask-mode: alpha;

    -webkit-mask-repeat: repeat-x;
    mask-repeat: repeat-x;

    -webkit-mask-position: left top;
    mask-position: left top;

    -webkit-mask-size: auto 100%;
    mask-size: auto 100%;
}

.background-upper{
    background-color: var(--bgColorTop);
    position: absolute;
    top: 0px;
    height: var(--bgGradientOffset);
    width: 100%;
    z-index: -10;
}

/* #endregion */

/* #region header */

header {
    margin-top: 53px;
    margin-left: 24px;
}

h1{
    color: white;
    font-family: "Darumadrop One", Helvetica, sans-serif ;
    font-size: 21pt;
}

h2 {
    font-weight: 500;
    font-style: italic;
    font-size: 13pt;
    color:#DFDFDF;
}

/* #endregion */

/* #region cards */
.card-selection{
    --cardSelectionHeight: calc(var(--activeCardHeight) + calc(var(--cardTrackHeightAddition) * 2));
    height: var(--cardSelectionHeight);
    position: relative;
    overflow: hidden;
    margin-top: calc(var(--cardTrackHeightAddition) * -1 + 35px);
}

.card-track{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform: translateX(var(--cardOffset));
}

.card{
    min-width: var(--cardWidth);
    height: var(--cardHeight);
    margin: 0 calc(var(--cardSpacing) * .5);
}

.card.active{
    min-width: var(--activeCardWidth);
    height: var(--activeCardHeight);
    margin: auto calc(var(--activeCardSpacing) * .5);
}

.card img {
    border-radius: 5%;
    height: 100%;
    width: 100%;;
    filter: drop-shadow(0px 12px 2px rgb(0 0 0 / var(--cardShadowOpacity)));
}

.card.active img {
    filter: drop-shadow(0px 30px 5px rgb(0 0 0 / var(--cardShadowOpacity)));
}

.card p {
    font-family: 'BigBoy', Helvetica, sans-serif;
    letter-spacing: 10%;
    font-size: 8pt;
    text-align: center;
    color: #f0f0f0;

    position: relative;
    bottom: 14%;
    left: 50%;
    transform: translate(-50%, -50% );
    z-index: 1;
}

.card.active p {
    font-size: 15pt;
    bottom: 13%;
}

#Ecospire p, #boasff p, #MajorTom p{
    color: black;
}

/* #endregion */

/* #region card arrows */
.arrow{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid;
    border-color: white;
    background-color: var(--bgColorBottom);
    color: white;
    text-align: center;
    font-size: 30px;
    z-index: 10;
    top: 50%;
    left: 50%;
}

.arrow.left:hover, .arrow.right:hover{
    background-color: #3F4C5E;
    transition: .2s ease;
    transform: var(--arrowTranslate) scale(1.3);
}

.arrow.left:active, .arrow.right:active{
    background-color: #9DC3CC;
    color: black;
    border-color: black;
}

.arrow.left{
    --arrowTranslate: translate(calc(-100% - var(--activeCardWidth) * .5 - var(--buttonMargin)), -50%);
    transform: var(--arrowTranslate);
}

.arrow.right{
    --arrowTranslate: translate(calc(var(--activeCardWidth) * .5 + var(--buttonMargin)), -50%);
    transform: var(--arrowTranslate);
}

/* #endregion */

.project-content{
    text-align: center;
    color: white;
    font-size: 55px;
    margin-top: 10px;
    margin-bottom: 50px;
}

h3{
    font-size: 32pt;
    color: #C9E7DF;
    filter: drop-shadow(0px 5px 0px rgb(0 0 0 / var(--cardShadowOpacity)));
}

footer 
{
    text-align: center;
    color: white;
    margin-bottom: 50px;
}

footer p {
    margin: 10px auto;
}

@media (min-width: 640px) {
    :root{
        --cardWidth: 135px;
        --cardHeight: 189px;
        --activeCardWidth: 225px;
        --activeCardHeight: 315px;

        --cardSpacing: 20px;
        --activeCardSpacing: 60px;
        --buttonMargin: 20px;

        --bgGradientHeight: 280px;
        --bgGradientOffset: 475px;
    }

    h1{
        font-size: 26pt;
    }

    h2{
        font-size: 16pt;
    }

    h3{
        font-size: 40pt;
        filter: drop-shadow(0px 7.5px 0px rgb(0 0 0 / var(--cardShadowOpacity)));
    }

    .card p {
        font-size: 11pt;
        bottom: 12%;
    }

    .card.active p {
        font-size: 22.5pt;
        bottom: 12%;
    }
}

@media (min-width: 1025px)
{
    :root{
        --cardWidth: 180px;
        --cardHeight: 252px;
        --activeCardWidth: 300px;
        --activeCardHeight: 420px;

        --cardSpacing: 80px;
        --activeCardSpacing: 180px;
        --buttonMargin: 40px;

        --bgGradientHeight: 380px;
        --bgGradientOffset: 550px;
    }

    header {
        margin-top: 25px;
        margin-left: 25px;
    }

    h1{
        font-size: 31.5pt;
    }

    h2{
        font-size: 19.5pt;
    }

    h3{
        font-size: 48pt;
        filter: drop-shadow(0px 10px 0px rgb(0 0 0 / var(--cardShadowOpacity)));
    }

    .card p {
        font-size: 14pt;
        bottom: 12%;
    }

    .card.active p {
        font-size: 30pt;
        bottom: 12%;
    }
}

@media (min-width: 3000px)
{
    :root{
        --cardWidth: 360px;
        --cardHeight: 504px;
        --activeCardWidth: 600px;
        --activeCardHeight: 840px;

        --cardSpacing: 120px;
        --activeCardSpacing: 300px;
        --buttonMargin: 50px;
        --bgGradientHeight: 600px;
        --bgGradientOffset: 850px;
    }

    .arrow{
        width: 100px;
        height: 100px;
        border-width: 5px;
    }

    header {
        margin-top: 50px;
        margin-left: 25px;
    }

    h1{
        font-size: 41pt;
    }

    h2{
        font-size: 26pt;
    }

    h3{
        font-size: 100pt;
        filter: drop-shadow(0px 15px 0px rgb(0 0 0 / var(--cardShadowOpacity)));
    }

    .card p {
        font-size: 30pt;
        bottom: 11%;
    }

    .card.active p {
        font-size: 60pt;
        bottom: 10.5%;
    }

}