:root{
    /* cards */
    --cardWidth: 90px;
    --cardHeight: 126px;
    --activeCardWidth: 150px;
    --activeCardHeight: 210px;
    
    --cardSelectionTopMargin: 140px;
    --cardSpacing: 20px;
    --activeCardSpacing: 60px;
    
    --cardShadowOpacity: .6;
    --cardTrackHeightAddition: 40px;

    --buttonMargin: 20px;
    --cardIndex: 0;

    --cardOffset: 0px;

    --mainPanelWidth: 325px;

    /* Image Slide Arrows */
    --imageArrowMarginMin: 10px;
    --imageArrowMarginMax: 20px;
    --rightImageArrowOpacity: .5;
    --leftImageArrowOpacity: 0;

    /* background */
    --bgColorTop:#4B565E;
    --bgColorBottom: #282930;
    --bgColorMid: #313B44;
    --cardSelectionHeight:0;
    --arrowTranslate: 0;
    --bgGradientHeight: 180px;
    --bgGradientOffset: 400px;

    --defaultMargin: 40px;
}

/* #region fonts */

.darumadrop-one-regular {
  font-family: "Darumadrop One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

@font-face{
    font-family: "BigBoy";
    src: url("ref/Bigboy.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* #endregion */

*{
    padding: 0;
    margin: 0;
    font-family: "Ubuntu", Helvetica, sans-serif;
}

/* #region background */

body{
    background-color: var(--bgColorBottom);
}

.background-gradient{
    background-color: var(--bgColorBottom);
    position: absolute;
    height: var(--bgGradientHeight);
    width: 100%;
    z-index: -9;
    top: calc(var(--bgGradientOffset) - var(--bgGradientHeight));

    -webkit-mask-image: url("ref/Gradients/Dotted_TileableMask.png");
    mask-image: url(ref/Gradients/Dotted_TileableMask.png);
    
    -webkit-mask-mode: alpha;
    mask-mode: alpha;

    -webkit-mask-repeat: repeat-x;
    mask-repeat: repeat-x;

    -webkit-mask-position: left top;
    mask-position: left top;

    -webkit-mask-size: auto 100%;
    mask-size: auto 100%;
}

.background-upper{
    background-color: var(--bgColorTop);
    position: absolute;
    top: 0px;
    height: var(--bgGradientOffset);
    width: 100%;
    z-index: -10;
}

/* #endregion */

/* #region header */

header {
    margin-top: 53px;
    margin-left: 24px;
}

h1{
    color: white;
    font-family: "Darumadrop One", Helvetica, sans-serif ;
    font-size: 21pt;
}

h2 {
    font-weight: 500;
    font-style: italic;
    font-size: 13pt;
    color:#DFDFDF;
}

/* #endregion */

/* #region cards */
.card-selection{
    --cardSelectionHeight: calc(var(--activeCardHeight) + calc(var(--cardTrackHeightAddition) * 2));
    height: var(--cardSelectionHeight);
    position: relative;
    overflow: hidden;
    margin-top: calc(var(--cardTrackHeightAddition) * -1 + 35px);
}

.card-track{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transform: translateX(var(--cardOffset));
    transition: .3s;
}

.card{
    min-width: var(--cardWidth);
    height: var(--cardHeight);
    margin: 0 calc(var(--cardSpacing) * .5);
}

.card.active{
    min-width: var(--activeCardWidth);
    height: var(--activeCardHeight);
    margin: auto calc(var(--activeCardSpacing) * .5);
}

.card img {
    border-radius: 5%;
    height: 100%;
    width: 100%;;
    filter: drop-shadow(0px 12px 2px rgb(0 0 0 / var(--cardShadowOpacity)));
}

.card.active img {
    filter: drop-shadow(0px 30px 5px rgb(0 0 0 / var(--cardShadowOpacity)));
}

.card p {
    font-family: 'BigBoy', Helvetica, sans-serif;
    letter-spacing: 10%;
    font-size: 8pt;
    text-align: center;
    color: #f0f0f0;

    position: relative;
    bottom: 14%;
    left: 50%;
    transform: translate(-50%, -50% );
    z-index: 1;
}

.card.active p {
    font-size: 15pt;
    bottom: 13%;
}

#Ecospire p, #MajorTom p {
    color: black;
}

/* #endregion */

/* #region card arrows */
.arrow{
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid;
    border-color: white;
    background-color: var(--bgColorBottom);
    text-align: center;
    font-size: 30px;
    z-index: 10;
    top: 50%;
    left: 50%;
}

.arrow img
{
    width: 50%;
    height: 50%;
}

.arrow.left:hover, .arrow.right:hover{
    background-color: #3F4C5E;
    transition: .2s ease;
    transform: var(--arrowTranslate) scale(1.3);
}

.arrow.left:active, .arrow.right:active{
    background-color: #9DC3CC;
    border-color: var(--bgColorBottom);
}

.arrow.left{
    --arrowTranslate: translate(calc(-100% - var(--activeCardWidth) * .5 - var(--buttonMargin)), -50%);
    transform: var(--arrowTranslate);
}

.arrow.right{
    --arrowTranslate: translate(calc(var(--activeCardWidth) * .5 + var(--buttonMargin)), -50%);
    transform: var(--arrowTranslate);
}

/* #endregion */

/* #region project content */
.project-content{
    text-align: center;
    color: white;
    margin-top: 10px;
    margin-bottom: 50px;
}

h3{
    font-size: 32pt;
    color: #C9E7DF;
    filter: drop-shadow(0px 7px 0px rgb(0 0 0 / var(--cardShadowOpacity)));
    margin-bottom: var(--defaultMargin);
}

.main-panel{
    width: var(--mainPanelWidth);
    margin: 0 auto var(--defaultMargin) auto;
}
/* #region Quick Facts */

.quick-facts{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 180px;
    margin-bottom: var(--defaultMargin);
}

.quick-facts .fact{
    width: 140px;
    height: 72px;
    border-radius: 8px;
    position: relative;
}

.quick-facts .fact p {
    text-align: center;
    margin: auto;
}

.fact img{
    position: absolute;
    transform: translate(-50%, -50%);
}

.quick-facts .fact img{
    top: 10px;
    width: 65px;
    height: 65px;
}

.time-frame img, .team img{
    left: 15px;
}

.number{
    font-weight: 700;
    position: absolute;
    transform: translate(-50%);
}

.spec{
    font-style: italic;
    font-weight: 500;
    width: 100%;
    letter-spacing: 10%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.quick-facts .number{
    font-size: 22pt;
    left: 50%;
    top: 12px;
}

.quick-facts .spec{
    font-size: 9pt;
    bottom: 13px;
}

.time-frame{
    background-color: #2E4D3E;
}

.team{
    background-color: #477665;
}

.context{
    background-color: #528889;
}

.engine{
    background-color: #80A3B2;
}
/* #endregion */

/* #region Personal Contribution */

h4{
    font-weight: 500;
    font-size: 16pt;
}

.percentage-bar{
    height: 12px;
    border-radius: 6px;
    overflow: hidden;
    display: flex;
    justify-content: stretch;
    margin-top: calc(var(--defaultMargin) * .5);
}

.programming-bar{
    background-color: #4D707F;
}

.visual-bar{
    background-color: #BF8340;
}

.gamedesign-bar{
    background-color: #71283E;
}

/* #region Per Project Percentages */

.programming-bar#Seashaken {
    flex-basis: 70%;
}

.visual-bar#Seashaken {
    flex-basis: 20%;
}

.gamedesign-bar#Seashaken {
    flex-basis: 10%;
}

/* #endregion */

.percentage-stats{
    margin-top: calc(var(--defaultMargin) * .5);
    display: flex;
    justify-content: space-between;
    pointer-events: none;
}

.percentage-stats .fact{
    width: 90px;
    height: 48px;
    border-radius: 5px;
    position: relative;
}

.percentage-stats img{
    width: 40px;
    height:40px;
    left:12px;
    top:12px;
}

.percentage-stats .number{
    font-size: 14pt;
    left: 60%;
    bottom: 20px;
}

.percentage-stats .spec{
    font-size: 6.5pt;
    bottom: 6px;
}

.programming{
    background-color: #4D707F;
}

.visual-design{
    background-color: #BF8340;
}

.game-design{
    background-color: #71283E;
}

/* #endregion */

/* #region Image Slide */
.slide-parent{
    --h: 230px;
    position: relative;
    height: var(--h);
    margin-bottom: var(--defaultMargin);
}

.slide-bg-right{
    background-color: var(--bgColorTop);
    position: absolute;
    left:0;
    top:0;
    overflow-x: auto;
    width: 100%;
    height: 100%;
    z-index: -5;
}

.slide-parent .arrow{
    width: 30px;
    height: 30px;
    border-radius: 0;
    border-style: none;
    background-color: inherit;
    transform: translateY(-50%);
    
    animation-duration: .7s;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.slide-parent .arrow.right{
    opacity: var(--rightImageArrowOpacity);
    animation-name: right-arrow;
    left: auto;
}

.slide-parent .arrow.left{
    opacity: var(--leftImageArrowOpacity);
    animation-name: left-arrow;
    right: auto;
}

.slide-parent .arrow.left:hover, .slide-parent .arrow.right:hover{
    background-color: inherit;
    /* transition: .2s ease; */
    transform: inherit;
}

.slide-parent .arrow.right{
    transform: inherit;
}

.slide-parent .arrow.left{
    transform: inherit;
}

.slide-parent .arrow.left:active, .slide-parent .arrow.right:active{
    background-color: inherit;
    border-color:inherit;
}

@keyframes right-arrow{
    from{
        right: var(--imageArrowMarginMin);
    }

    to{
        right: var(--imageArrowMarginMax);
    }
}

@keyframes left-arrow{
    from{
        left: var(--imageArrowMarginMin);
    }

    to{
        left: var(--imageArrowMarginMax);
    }
}

.image-slide{
    height: var(--h);
    position: relative;
    display: inline-block;
    max-width: 100%;
    min-width: 100%;
    box-sizing: border-box;
    overflow-x: auto;
    overflow-y: hidden;

    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
}

.image-slide::-webkit-scrollbar {
  display: none;
}


.slide-bg-gradient{
    position: absolute;
    top: 0;
    height: 100%;
    aspect-ratio: 1 / 1;
    left: 50vw;
    transform: translateX(-50%);
    background-color: var(--bgColorTop);
    z-index: -1;

    -webkit-mask-image: url("ref/Gradients/Dotted.webp");
    mask-image: url(ref/Gradients/Dotted.webp);
    
    -webkit-mask-mode: alpha;
    mask-mode: alpha;

    -webkit-mask-position: left top;
    mask-position: left top;

    -webkit-mask-size: auto 100%;
    mask-size: auto 100%;
}

.slide-bg-left{
    background-color: var(--bgColorMid);
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: calc(50vw + var(--h) / 2 - 1px);
    z-index: -2;
}

.project-images{
    --imgMargin: 25px;
    margin: var(--imgMargin) var(--imgMargin);
    height: calc(100% - var(--imgMargin) * 2);
    display: flex;
    align-items: center;
    gap: calc(var(--imgMargin) * .5);
    width: max-content;
    white-space: nowrap;
}

.project-images img{
    height: 100%;
    width: auto;
    flex-shrink: 0;
    display: block;
}


/* #endregion */

/* #region Info Text  */

.main-panel.second{
    text-align: left;
    --infoTextMargin: calc(var(--defaultMargin) * .4);
}

.main-panel ul{
    margin-bottom: var(--infoTextMargin);
    padding-left: 18px;
}

.second h4{
    margin-bottom: calc(var(--defaultMargin) * .15);
}

.second p{
    margin-bottom: calc(var(--defaultMargin) * .125);
}

#larger-margin{
    margin-bottom: var(--infoTextMargin);;
}

.subheader{
    font-weight: 500;
    font-style: italic;
}

.socials-wrapper{
    height: 80px;
    width: 100vw;
    --mainPanelLeftMargin: calc((100vw - var(--mainPanelWidth)) * -0.5);
    margin-left: var(--mainPanelLeftMargin);
    background-color: var(--bgColorMid);
    margin-bottom: var(--infoTextMargin);
}

.socials{
    height: 100%;
    width: var(--mainPanelWidth);
    margin-left: calc(var(--mainPanelLeftMargin) * -1);
    display: flex;
    justify-content: space-around;
    align-content: space-between;
    position:relative;
}

.socials a{
    transition: .2s;
    height: 100%;
    aspect-ratio: 1 / 1;
    filter: drop-shadow(0 5px 1px rgb(0 0 0 / var(--cardShadowOpacity)));
}

.socials a:hover{
    cursor: pointer;
    transition: .2s;
    transform: translateY(-5px);
    filter: drop-shadow(0 10px 2px rgb(0 0 0 / var(--cardShadowOpacity)));
}

.socials a img{
    width: 80%;
    aspect-ratio: 1 / 1;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 25%;
}

.socials a p{
    position: absolute;
    bottom: 15%;
    margin-bottom: 0;
    text-align: center;
    text-decoration: inherit;
    color: inherit;
    width: 100%;
}
/* #endregion */

/* #endregion */

/* #region Footer */
.impressum, footer
{
    text-align: center;
    color: white;
    margin-bottom: var(--defaultMargin);
}

.impressum p {
    margin: 10px auto;
}

a{
    text-decoration: inherit;
    color: inherit;
}

footer a, .impressum a{
    display: inline-block;
    text-shadow: 0px 3px 1px rgb(0 0 0 / var(--cardShadowOpacity));
}

footer a:hover, .impressum a:hover{
    transition-duration: 0.2s;
    text-shadow: 0px 10px 5px rgb(0 0 0 / var(--cardShadowOpacity));
    transform: translateY(-5px) scale(1.3);
}
/* #endregion */

@media (min-width: 640px) {
    :root{
        --cardWidth: 135px;
        --cardHeight: 189px;
        --activeCardWidth: 225px;
        --activeCardHeight: 315px;

        --cardSpacing: 20px;
        --activeCardSpacing: 60px;
        --buttonMargin: 20px;

        --bgGradientHeight: 280px;
        --bgGradientOffset: 475px;

        --mainPanelWidth: 580px;

        --defaultMargin: 60px;
    }

    h1{
        font-size: 26pt;
    }

    h2{
        font-size: 16pt;
    }

    h3{
        font-size: 40pt;
        filter: drop-shadow(0px 7.5px 0px rgb(0 0 0 / var(--cardShadowOpacity)));
    }

    h4{
        font-size: 24pt;
    }

    .card p {
        font-size: 11pt;
        bottom: 12%;
    }

    .card.active p {
        font-size: 22.5pt;
        bottom: 12%;
    }

    /* Quick Facts */
    .quick-facts{
        height: 240px;
        justify-content: space-around;
    }

    .quick-facts .fact{
        width: 210px;
        height: 100px;
        border-radius: 12px;
    }

    .quick-facts .fact img{
        top: 15px;
        width: 80px;
        height: 80px;
    }

    .quick-facts .number{
        font-size: 29pt;
        top: 16px;
    }

    .quick-facts .spec{
        font-size: 11pt;
        bottom: 17px;
    }

    /* Personal Contribution */
    .percentage-bar{
        height: 14px;
        border-radius: 7px;
    }

    .percentage-stats{
        justify-content: space-around;
    }

    .percentage-stats .fact{
        width: 135px;
        height: 62px;
        border-radius: 7.5px;
    }

    .percentage-stats img{
        width: 60px;
        height: 60px;
        left: 12px;
        top: 12px;
    }

    .percentage-stats .number{
        font-size: 21pt;
        bottom: 25px;
    }

    .percentage-stats .spec{
        font-size: 9.25pt;
        bottom: 9px;
    }

    /* Image Slide */
    .slide-parent{
        --h: 345px;
    }

    .project-images{
        --imgMargin: 37.5px;
    }

    .slide-parent .arrow{
        width: 45px;
        height: 45px;
    }

    /* Info Text */
    .socials-wrapper{
        height: 100px;
    }
}

@media (min-width: 1025px){
    :root{
        --cardWidth: 180px;
        --cardHeight: 252px;
        --activeCardWidth: 300px;
        --activeCardHeight: 420px;

        --cardSpacing: 80px;
        --activeCardSpacing: 180px;
        --buttonMargin: 40px;

        --bgGradientHeight: 380px;
        --bgGradientOffset: 550px;

        --mainPanelWidth: 1000px;
        --imageArrowMarginMin: 20px;
        --imageArrowMarginMax: 35px;
    }

    header {
        margin-top: 25px;
        margin-left: 25px;
    }

    h1{
        font-size: 31.5pt;
    }

    h2{
        font-size: 19.5pt;
    }

    h3{
        font-size: 48pt;
        filter: drop-shadow(0px 10px 0px rgb(0 0 0 / var(--cardShadowOpacity)));
    }

    .card p {
        font-size: 14pt;
        bottom: 12%;
    }

    .card.active p {
        font-size: 30pt;
        bottom: 12%;
    }

    .quick-facts{
        width: inherit;
        height: inherit;
    }

    /* Personal Contribution */
    .percentage-bar{
        height: 18px;
        border-radius: 9px;
    }

    .percentage-stats{
        margin-top: calc(var(--defaultMargin) * .75);
    }

    .percentage-stats .fact{
        width: 180px;
        height: 83px;
        border-radius: 7.5px;
    }

    .percentage-stats img{
        width: 70px;
        height: 70px;
    }

    .percentage-stats .number{
        bottom: 35px;
        left: 58%;
    }

    .percentage-stats .spec{
        bottom: 17px;
    }

    /* Image Slide */
    .slide-parent{
        --h: 450px;
    }

    .project-images{
        --imgMargin: 40px;
    }

    .slide-parent .arrow{
        width: 60px;
        height: 60px;
    }

    /* Info Text */
    .main-panel.second{
        --infoTextMargin: calc(var(--defaultMargin) * .35);
    }

    .socials-wrapper{
        height: 125px;
    }
}

@media (min-width: 3000px){
    :root{
        --cardWidth: 360px;
        --cardHeight: 504px;
        --activeCardWidth: 600px;
        --activeCardHeight: 840px;

        --cardSpacing: 120px;
        --activeCardSpacing: 300px;
        --buttonMargin: 50px;
        --bgGradientHeight: 600px;
        --bgGradientOffset: 850px;
    }

    .arrow{
        width: 100px;
        height: 100px;
        border-width: 5px;
    }

    header {
        margin-top: 50px;
        margin-left: 25px;
    }

    h1{
        font-size: 41pt;
    }

    h2{
        font-size: 26pt;
    }

    h3{
        font-size: 100pt;
        filter: drop-shadow(0px 15px 0px rgb(0 0 0 / var(--cardShadowOpacity)));
    }

    .card p {
        font-size: 30pt;
        bottom: 11%;
    }

    .card.active p {
        font-size: 60pt;
        bottom: 10.5%;
    }
}